In [1]:
import pandas as pd
import numpy as np

In [9]:
census_df = pd.read_csv('datasets/tree-census-NYC_2015.csv')
species_df = pd.read_csv('datasets/tree_species_nyc.csv')

In [10]:
census_df

,Unnamed: 0,tree_id,tree_dbh,stump_diam,status,health,spc_latin,spc_common,address,zipcode,borocode,boroname,nta_name,state,Latitude,longitude
0,0,180683,3,0,Alive,Fair,Acer rubrum,red maple,108-005 70 AVENUE,11375,4,Queens,Forest Hills,New York,40.723092,-73.844215
1,1,200540,21,0,Alive,Fair,Quercus palustris,pin oak,147-074 7 AVENUE,11357,4,Queens,Whitestone,New York,40.794111,-73.818679
2,2,204026,3,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,390 MORGAN AVENUE,11211,3,Brooklyn,East Williamsburg,New York,40.717581,-73.936608
3,3,204337,10,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1027 GRAND STREET,11211,3,Brooklyn,East Williamsburg,New York,40.713537,-73.934456
4,4,189565,21,0,Alive,Good,Tilia americana,American linden,603 6 STREET,11215,3,Brooklyn,Park Slope-Gowanus,New York,40.666778,-73.975979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683783,683783,155433,25,0,Alive,Good,Quercus palustris,pin oak,32 MARCY AVENUE,11211,3,Brooklyn,North Side-South Side,New York,40.713211,-73.954944
683784,683784,183795,7,0,Alive,Good,Cladrastis kentukea,Kentucky yellowwood,67-035 SELFRIDGE STREET,11375,4,Queens,Forest Hills,New York,40.715194,-73.856650
683785,683785,166161,12,0,Alive,Good,Acer rubrum,red maple,130 BIDWELL AVENUE,10314,5,Staten Island,Westerleigh,New York,40.620762,-74.136517
683786,683786,184028,9,0,Alive,Good,Acer rubrum,red maple,1985 ANTHONY AVENUE,10457,2,Bronx,Mount Hope,New York,40.850828,-73.903115
683787,683787,200607,23,0,Alive,Fair,Acer rubrum,red maple,69-069 183 STREET,11365,4,Queens,Fresh Meadows-Utopia,New York,40.732165,-73.787526

In [11]:
species_df

,Scientific name,Common name,Photo,Size,Native Species,Planted in NYC streets,Edible fruit
0,Acer platanoides,Norway maple,NaN,Large,"Non-Native, Invasive[6]","Yes, Approved",No
1,Acer rubrum,Red maple,NaN,Large,Native,Yes,NaN
2,Acer saccharinum,Silver maple,NaN,Large,Native,Yes,NaN
3,Aesculus hippocastanum,Horse-chestnut,NaN,Large,Non-Native,Yes,NaN
4,Aesculus octandra,Common buckeye,NaN,Large,Native,Yes,NaN
...,...,...,...,...,...,...,...
97,Ulmus americana,American elm,NaN,Large,Native,NaN,NaN
98,Ulmus glabra 'Camperdownii',Camperdown elm,NaN,Medium,"Non-Native, Not Invasive","No, Not Approved",No
99,Ulmus parvifolia,Chinese elm,NaN,NaN,Non-Native,NaN,NaN
100,Ulmus minor,English elm,NaN,Large,Non-Native,"No, Not Approved",No
101,Zelkova serrata,Japanese zelkova,NaN,NaN,Non-Native,NaN,NaN

In [15]:
census_df.health.value_counts(dropna=False)

Good    528850
Fair     96504
NaN      31616
Poor     26818
Name: health, dtype: int64